.contenedorPost {
    width: 30rem;
    height: auto;
    background-color: #ade8f4;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
    position: relative;
}

.botonEditar {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fee440;
}

.botonEliminar {
    position: absolute;
    top: 1.7rem;
    right: 0;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #d00000;
}

.contenedorPost:hover .botonEditar {
    display: flex;
}

.contenedorPost:hover .botonEliminar {
    display: flex;
}